$space: 15px;
$space-desktop: 40px;
$form-elements-height: 30px;
$form-elements-border-radius: 20px;
$form-elements-border: 1px solid rgba(#000, .5);
$primaryColor: #CD1A2C;
$secondaryColor: rgb(95, 146, 228);