@import './app.scss';

.cItem {
  position: relative;

  +.cItem {
    padding-top: 30px;
  }

  &:hover {
    .cItem__details {
      display: flex;
      flex-direction: column;
    }
  }

  &__name {
    position: relative;
    font-size: 28px;

    &:hover {
      color: $secondaryColor;
      z-index: 3;
    }
  }

  &__img {

    img {
      width: 100%;
    }
  }

  &__description {
    padding: 15px;
  }

  &__details {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 30%;
    max-width: 300px;
    background-color: #fff;
    border-radius: $form-elements-border-radius;
    border: $form-elements-border;
    z-index: 2;
    box-shadow: 30px 30px 30px rgba(#000, .5);

  }
}