.cPagination {
  &__inner {
    height: 145px;
    overflow: auto;
    border-bottom: 2px solid rgba(#000, .5);
    border-top: 2px solid rgba(#000, .5);
    position: relative;
  }

  &__btn {
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
  }
}

@media (min-width: 1280px) {
  .cPagination {
    &__inner {
      height: auto;
      max-height: 500px;
    }
  }
}